head {
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.recipe-title {
    padding: 8px 8px 8px 400px;
    color: rgb(11, 163, 148);
}

.list {
    padding: 32px;
    background-color: rgb(11, 163, 148);
    text-align: center;
    margin: 0 auto;
}

.items {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}